<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style_home.css">
  <title>Subastas online</title>
</head>

<body>
  <header>
    <div class="logo"><img src="/public/img/logo.png" alt=""></div>
    <nav>
      <a href="">Inicio</a>
      <a href="">About</a>
      <a href="">Subastas</a>
      <a href="">Contáctenos</a>
    </nav>
    <div class="session">
      <img src="/public/img/session.svg" alt="">
      <p>
        <span>
          <a href="">Login</a>
        </span>
        <span>/</span>
        <span>
          <a href="">Sign up</a>
        </span>
      </p>
    </div>
  </header>

  <!-- BANNER -->
  <section class="banner" id="banner">
    <div class="contenido">
      <h1>Invierte en tu futuro con nuestras subastas de inmuebles.</h1>
      <a href="">Contáctenos</a>
    </div>
  </section>

  <!-- ABOUT -->
  <section class="about" id="about">
    <div class="image_social">
      <img src="/public/img/about.svg" alt="">
      <div class="social">
        <a href="">
          <img class="face" src="/public/img/face.svg" alt="">
        </a>
        <a href="">
          <img class="you" src="/public/img/youtube.svg" alt="">
        </a>
        <a href="">
          <img class="mail" src="/public/img/mail.svg" alt="">
        </a>
      </div>
    </div>
    <div class="info">
      <h2>Urbaniza Club</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Pellentesque tincidunt
        id mauris tellus feugiat gravida pulvinar viverra lacus. Vitae
        et scelerisque nunc cursus venenatis praesent sit lorem. Fermentum
        mi ligula tempus tristique lobortis aenean. Blandit risus ut id turpis.
        Vitae id vel suscipit felis. Morbi turpis diam in odio. Lorem nulla sodales
        etiam arcu elit. Convallis commodo nibh sed montes augue.
      </p>
      <div class="btn_about">
        <a href="">Contáctenos</a>
      </div>
    </div>
  </section>

  <!-- SUBASTAS -->
  <section class="subastas">
    <h2>Subastas esperadas</h2>
    <div class="content_card">
      <div class="card">
        <img class="casa_img" src="/public/img/casas.png" alt="">
        <div class="info_like">
          <div class="info_card">
            <h3>Casa de campo</h3>
            <p class="depat">Lima</p>
            <p>
              <span><img src="/public/img/plata.svg" alt=""></span>
              <span>US$</span>
              <span>100,000</span>
            </p>
          </div>
          <div class="like">
            <button>
              <img src="/public/img/like.svg" alt="">
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="casa_img" src="/public/img/casas.png" alt="">
        <div class="info_like">
          <div class="info_card">
            <h3>Casa de campo</h3>
            <p class="depat">Lima</p>
            <p>
              <span><img src="/public/img/plata.svg" alt=""></span>
              <span>US$</span>
              <span>100,000</span>
            </p>
          </div>
          <div class="like">
            <button>
              <img src="/public/img/like.svg" alt="">
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="casa_img" src="/public/img/casas.png" alt="">
        <div class="info_like">
          <div class="info_card">
            <h3>Casa de campo</h3>
            <p class="depat">Lima</p>
            <p>
              <span><img src="/public/img/plata.svg" alt=""></span>
              <span>US$</span>
              <span>100,000</span>
            </p>
          </div>
          <div class="like">
            <button>
              <img src="/public/img/like.svg" alt="">
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="casa_img" src="/public/img/casas.png" alt="">
        <div class="info_like">
          <div class="info_card">
            <h3>Casa de campo</h3>
            <p class="depat">Lima</p>
            <p>
              <span><img src="/public/img/plata.svg" alt=""></span>
              <span>US$</span>
              <span>100,000</span>
            </p>
          </div>
          <div class="like">
            <button>
              <img src="/public/img/like.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- COMENTARIOS -->
  <section class="comentarios">
    <h2>
      Testimonios
    </h2>
    <div class="Testimonio">
      <button id="back">
        <img src="/public/img/back.svg" alt="">
      </button>

      <div class="comentario">
        <p>
          Lorem ipsum dolor sit amet consectetur. Fermentum
          vitae nisl dignissim lectus in natoque. Vel semper
          ut orci euismod pulvinar fermentum egestas.
        </p>
        <p>
          <span><img src="/public/img/estrella.svg" alt=""></span>
          <span><img src="/public/img/estrella.svg" alt=""></span>
          <span><img src="/public/img/estrella.svg" alt=""></span>
          <span><img src="/public/img/estrella.svg" alt=""></span>
          <span><img src="/public/img/estrella.svg" alt=""></span>
        </p>
      </div>

      <button id="next">
        <img src="/public/img/next.svg" alt="">
      </button>
    </div>
  </section>

  <!-- REDES -->
  <section class="redes_sociales">
    <div class="redes">
      <div class="youtube">
        <a href="">
          <img src="/public/img/youtubec.svg" alt="">
        </a>
      </div>
      <div class="linea2">
        <div class="tiktok">
          <a href="">
            <img src="/public/img/tiktok.svg" alt="">
          </a>
        </div>
        <div class="faceboock">
          <a href="">
            <img src="/public/img/facebookc.svg" alt="">
          </a>
        </div>
        <div class="twiter">
          <a href="">
            <img src="/public/img/twiter.svg" alt="">
          </a>
        </div>
      </div>
      <div class="liena3">
        <div class="instagram">
          <a href="">
            <img src="/public/img/instagram.svg" alt="">
          </a>
        </div>
        <div class="chat">
          <a href="">
            <img src="/public/img/whatsapp.svg" alt="">
          </a>
        </div>
      </div>
    </div>
    <h2>Redes Sociales</h2>
  </section>

  <!-- CONTACTANOS -->
  <section class="contacto" id="contacto">
    <div class="info_cont">
      <h2>Contáctanos</h2>
      <div class="contactos">
        <ul>
          <li>
            <a href="">
              <img src="/public/img/map.svg" alt="">
              <p>
                <span>Av. Ejercito °N100</span> <br>
                <span>Arequipa - Perú</span>
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="/public/img/tel.svg" alt="">
              <p>+51 - 999999999</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="/public/img/maill.svg" alt="">
              <p>subastas@urbaniza.club</p>
            </a>
          </li>
        </ul>
      </div>
      <form action="" method="post">
        <input class="inputs" type="text" name="nombre" id="" placeholder="NOMBRE COMPLETO">
        <input class="inputs" type="email" name="email" id="" placeholder="CORREO ELECTRÓNICO">
        <textarea name="texto" id="" placeholder="MENSAJE"></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div class="mapa">
      <img src="/public/img/mapa.svg" alt="">
    </div>
  </section>
</body>

</html>