<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style_home.css">
  <title>Subastas online</title>
</head>

<body>
  <header>
    <div class="logo"><img src="/public/img/logo.png" alt=""></div>
    <nav>
      <a href="">Inicio</a>
      <a href="">About</a>
      <a href="">Subastas</a>
      <a href="">Contáctenos</a>
    </nav>
    <div class="session">
      <img src="/public/img/session.svg" alt="">
      <p>
        <span>
          <a href="">Login</a>
        </span>
        <span>/</span>
        <span>
          <a href="">Sign up</a>
        </span>
      </p>
    </div>
  </header>

  <!-- BANNER -->
  <section class="banner" id="banner">
    <div class="contenido">
      <h1>Invierte en tu futuro con nuestras subastas de inmuebles.</h1>
      <a href="">Contáctenos</a>
    </div>
  </section>

  <!-- ABOUT -->
  <section class="about" id="about">
    <div class="image_social">
      <img src="/public/img/about.svg" alt="">
      <div class="social">
        <a href="">
          <img class="face" src="/public/img/face.svg" alt="">
        </a>
        <a href="">
          <img class="you" src="/public/img/youtube.svg" alt="">
        </a>
        <a href="">
          <img class="mail" src="/public/img/mail.svg" alt="">
        </a>
      </div>
    </div>
    <div class="info">
      <h2>Urbaniza Club</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Pellentesque tincidunt
        id mauris tellus feugiat gravida pulvinar viverra lacus. Vitae
        et scelerisque nunc cursus venenatis praesent sit lorem. Fermentum
        mi ligula tempus tristique lobortis aenean. Blandit risus ut id turpis.
        Vitae id vel suscipit felis. Morbi turpis diam in odio. Lorem nulla sodales
        etiam arcu elit. Convallis commodo nibh sed montes augue.
      </p>
      <div class="btn_about">
        <a href="">Contáctenos</a>
      </div>
      
    </div>
  </section>
</body>

</html>