<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/footer_logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/style_login.css">
    <title>Subastas online | login</title>
</head>
<body>
    <div class="contenedor">
        <div class="imagen">
            <a class="regreso" href="">
                <img src="/public/img/regresar.svg" alt="">
            </a>
            <img src="/public/img/imagen_login.svg" alt="">
        </div>
        <div class="fondo">
            <div class="content_form">
                <h2>Inicia sesión</h2>
                <form action="/login" method="POST">
                    <label for="usuario">Usuario*</label>
                    <input type="text" name="usuario" id="usuario" placeholder="Ingresa tu Usuario" required>
                    <label for="contraseña">Contraseña*</label>
                    <input type="password" name="contraseña" id="contraseña" placeholder="Ingresa tu Contraseña" required>
                    <button type="submit">Iniciar sesión</button>
                    <p>
                        <span>No tienes una cuenta?</span>
                        <span>
                            <a href="">Sign up</a>
                        </span>
                    </p>
                </form>
            </div>
        </div> 
    </div>
    
</body>
</html>